{
  "name": "etnsc-bootstrap",
  "description": "A tool for quick Electroneum local node setup and management",
  "version": "${VERSION}",
  "bin": "index.js",
  "optionalDependencies": {
    "etnsc-bootstrap-linux-x64": "${VERSION}",
    "etnsc-bootstrap-linux-arm64": "${VERSION}",
    "etnsc-bootstrap-darwin-x64": "${VERSION}",
    "etnsc-bootstrap-darwin-arm64": "${VERSION}",
    "etnsc-bootstrap-windows-x64": "${VERSION}",
    "etnsc-bootstrap-windows-arm64": "${VERSION}"
  }
}
