{
  "name": "${node_pkg}",
  "version": "${VERSION}",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "description": "A tool for quick Electroneum local node setup and management (sub-package for ${node_os} on ${node_arch})"
}
